* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    background-color: black;
}

section {
    max-width: 1200px;
    width: 90%;
    background-color: white;
    margin: auto;
}


.container {
    display: flex;
    flex-direction: row;
}

.container > div {
    width: 100%;
    border: 1px solid black;
    color: black;
}
