@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores Zelda */
    --verde-escuro:#026012;
    --dourado:#FFD700;

    /* Cores Metroid */
    --roxo-sombrio:#5B3A6A;
    --azul-sombrio:#0F68B8;

    /* Cores Tetris */
    --azul:#0341AE;
    --verde:#72CB3B;
    --amarelo:#FFD500;
    --laranja:#FF971C;
    --vermelho:#FF3213;

     /* Cores Base MDN */
     --cor-fundo-escuro: #1A1A1A; 
     --cor-texto-claro: #F8F9FA; 
     --cor-bloco-fundo: rgba(255, 255, 255, 0.05);
     --cor-borda-bloco-escuro: rgba(255, 255, 255, 0.1);
}

/*Mobile Version*/

.main-body {
    background-color: var(--cor-fundo-escuro);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--cor-texto-claro);
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--dourado);
    padding: 0;
    text-align: center;
}

header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: var(--verde-escuro);
    padding: 10px 0;
}

header ul {
    text-align: center;
    padding: 10px;
    list-style: none;
    background-color: var(--azul-sombrio);
}

header ul li {
    display: inline-block;
    padding: 10px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Press Start 2P', cursive;
    transition: color 0.2s ease, background-color 0.2s ease;
    display: block;
}

header ul li a:active {
    color: var(--dourado);
    text-shadow: 0 0 8px var(--dourado);
    transform: scale(0.98);
}

header ul li:last-child {
    border-bottom: none;
}

.intro-page {
    font-size: 1.5em;
    flex-grow: 1;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.intro-page h2{
    font-size: 1.3em;
    color: var(--cor-texto-claro);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}

.container > div {
    
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}

/* Desktop Version */
@media (min-width: 769px) {
    header h1 {
        font-size: 1.8em; /* Restaura o tamanho maior para telas maiores que 768px */
    }

    .intro-page h2 {
        font-size: 1.5em; /* Restaura o tamanho maior para o h2 em telas maiores */
    }

    header ul li a:hover {
        color: var(--dourado);
        text-shadow: 0 0 5px var(--dourado);
    } 
}