* {
    margin: 0px;
    
}

.container {
    border: 5px solid black;
    display: flex;
    flex-direction: row;
}

.container div {
    background-color: orange;
    border: 2px solid white;
    color: white;
    width: 50%;
    
}